.container{
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  color: white;

}
p.sub-title{
  color: white;
  text-align: center;
}

#contact-container{
  width: 1200px;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  background: white;
  .contact-info{
    background-color: #6733F3;
    border-radius: 15px;
    flex: 0 1 40%;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
   
  }
}

h4{
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0;

  
}
p{
  color: rgba(255,255,255,.7);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.icon-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  .fa{
    flex: 0 0 5%;
    font-size: 1.3rem;
    margin-right: 1rem;
   color: #05f7ff;
  }

}


span{
  font-size: 1.3rem;
  font-weight: 300;
}

.social-media{
  display: flex;
  width: 40%;
  justify-content: space-between;
  .icon-circle{
    flex: 0 1 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 50%;
    color: white;
    transition: .3s all ease-in-out;
    &:hover{
      background-color: #05f7ff ;
    }
    .fa{
      font-size: 20px;
  
    }
    
  }
  

 
}
