@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.home{
    height: 100vh;
    width: 100%;
    position: relative;
}

.home img {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
}

.home-intro{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    top: 45%;
    color: #fff;
    animation: slideFromBottom 1.6s ease-in-out;

}

.home-intro .title {
    font-size: 2rem;
    font-weight: 500;
}

.title div{
    color: #ff1744;
    display: inline-block;
    font-weight: 600;
}

.home-intro .detail {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'poppins';
}

.home-intro p{
    font-size: 1.2rem;    
}

.home-intro button{
    color: black;
    border: 3px solid #fff;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    transition: all 0.4s ease;
}

.home-intro button:hover{
    cursor: pointer;
    background-color: #ff1744;
    box-shadow: 3px 5px 5px #ff1744;
    border: none;
    color: white;
}

.cl-header, .r-header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.cl-header h1{
    margin-top: 3%;
}
.r-header h1{
    font-size: 2rem;
    font-weight: 600;
    
}
.r-header h3{
    font-size: 1.2rem;
}
.home-icon{
    animation: animateIcons 3s ease-in-out 1s infinite;
}


/* Middle header sign up ad */
.middle{
    overflow: hidden;
    width: 100%;
    border: 1px solid #ff1744;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background: #ff1744;
    
    
}
.middle .ad{
    /* border: 3px solid red; */
    transform: skewX(-40deg);
    padding: 20px;
    font-size: 2rem;
    width: 20%;
    color: #fff;
    background: #ff1744;
}
.middle .ad >*{
    transform: skewX(40deg);

}
div.ad p{
    font-size: 1.3rem;
}
div.ad h3{
    font-size: 2rem;
}

.middle .sign-ad{
    /* border: 3px solid blue; */
    transform: skewX(-40deg);
    padding: 20px;
    width: 80%;
    font-size: 1.2rem;
    background: #fff;

}

.sign-ad button {
    width: 200px;
    margin-left: 30%;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    transform: skewX(40deg);

    transition: all .7s;
}
.sign-ad button a{
    text-decoration: none;
    color: #ff1744;
}

.middle .sign-ad >*{
    transform: skewX(40deg);
}
.sign-ad span{
    color: rgb(5, 61, 126);
}
.sign-ad button:hover{
    box-shadow: 5px 10px 8px #ff1744;
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
    
}
.sign-ad h2{
    margin-left: 4%;
    color: #ff1744;
    word-wrap: break-word;
}
.sign-ad h2 a{
    text-decoration: none;
}

/* Animations */
@keyframes slideFromBottom {
    0%{
        transform: translateY(100%);
        opacity: 0;
        
    }
    20%{
        opacity: 0;
    }
    80%{
        transform: translateY(-50px);

    }

    100%{
        transform: translateY(0);
    }
}

@keyframes animateIcons {
    0%{
        color: rgb(5, 61, 126);
        font-size: 3rem;
    }
    20%{
        color: rgb(22, 27, 110);
    }
    50%{
        color: rgb(31, 5, 126);
        font-size:2rem;
    }
    80%{
        color: rgb(126, 5, 90);
    }
    100%{
        color: #ff1744;
        font-size: 3rem;
    }
}